.idol-details {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: var(--button-image-size);
  justify-content: flex-start;
  margin-bottom: var(--gutter-size);
}
.idol-details > img {
  border-radius: calc(var(--button-image-size) / 2);
}
.idol-details > h2 {
  display: inline-block;
  margin-left: 1rem;
}
.albums-container {
  height: var(--songs-container-height);
  overflow-y: scroll;
}
.albums {
  margin: 0 auto;
  max-width: 360px;
}
