.idol-view {
  height: inherit;
  position: relative;
}
.idol-details {
  display: flex;
  /* flex */
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  /* end of flex */
  height: var(--button-image-size);
  margin-bottom: var(--gutter-size);
}
.idol-details img {
  border-radius: calc(var(--button-image-size) / 2);
}
.idol-details h2 {
  display: inline-block;
  margin-left: 1rem;
}
.close-view {
  height: var(--tap-size);
  position: absolute;
  /* absolute */
  right: 0;
  top: 0;
  /* end of absolute */
  width: var(--tap-size);
}
.songs-container {
  height: var(--songs-container-height);
  overflow-y: scroll;
}
.songs {
  display: flex;
  /* flex */
  flex-direction: column;
  gap: calc(var(--gutter-size) / 2);
  /* end of flex */
}
