.album:not(:last-child) {
  margin-bottom: var(--gutter-size);
}
.album-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 360px;
  width: 100%;
}
.album-title, .release-date {
  padding: 0.45rem;
}
.album-title {
  font-size: 1.25rem;
}
.release-date {
  font-size: 0.9rem;
}
.songs {
  margin-top: calc(var(--gutter-size) / 2);
  max-width: 360px;
}
