.embed-container {
  margin: inherit;
  max-width: 360px;
  min-height: var(--embed-container-height);
  overflow: auto;
  position: relative;
}
.embed-placeholder {
  margin-top: var(--gutter-size);
}
.embed-container iframe {
  position: absolute;
  /* absolute */
  left: 0;
  bottom: var(--gutter-size);
  /* end of absolute */
}
