.embed-container {
  margin: inherit;
  max-width: 360px;
  min-height: var(--embed-container-height);
  overflow: auto;
  padding: var(--gutter-size);
  position: relative;
}
.embed-container iframe {
  position: absolute;
  /* absolute */
  left: var(--gutter-size);
  top: var(--gutter-size);
  /* end of absolute */
}
