header {
  height: var(--tap-size);
  padding: 0 calc(var(--gutter-size) / 4);
  width: 100%;
  z-index: 10;
}
header > ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: flex-start;
  height: 100%;
}
header > ul > li {
  display: inline-block;
  margin: calc(var(--gutter-size) / 4);
}
header > ul > li:not(:last-child) {
  margin-right: calc(var(--gutter-size) / 2);
}
header > ul > li > button {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dropdown {
  max-width: 240px;
  position: absolute;
  right: 0;
  top: var(--tap-size);
  width: 100vw;
}
.dropdown-button {
  background-color: #FFFFFF;
  width: 100%;
}
.dropdown-button:hover {
  opacity: .75;
}
