.idol {
  display: inline-block;
}
.idol-button {
  display: flex;
  /* flex */
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  /* end of flex */
  height: calc(var(--button-image-size) + 68px);
  width: var(--button-width);
}
.idol-button img {
  border-radius: calc(var(--button-image-size) / 2);
}
