.idol {
  display: inline-block;
}
.idol-button {
  align-items: center;
  border-color: var(--lovelive-color);
  display: flex;
  flex-direction: column;
  height: calc(var(--button-image-size) + 68px);
  justify-content: flex-start;
  overflow: hidden;
  width: var(--button-width);
}
.idol-button > div:nth-of-type(1) {
  background-color: var(--lovelive-color);
  height: fit-content;
  transition: inherit;
  width: calc(var(--button-width) - 4px);
}
.idol-button > div > img {
  border-radius: calc(var(--button-image-size) / 2);
}
