.App {
  text-align: center;
}
header, footer {
  background-color: #E4007F;
  color: #FFFFFF;
}
header {
  height: var(--gutter-size);
  padding: 0 calc(var(--gutter-size) / 4);
}
main {
  background-color: #FFCBDE;
  padding-top: var(--gutter-size);
}
h1 {
  margin: var(--gutter-size) auto;
}
button {
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  position: relative;
}
.idol-buttons-container {
  padding: var(--gutter-size);
}
.idol-buttons {
  display: grid;
  gap: calc(var(--gutter-size) / 2);
  grid-auto-flow: row;
  grid-auto-rows: calc(var(--button-image-size) + 48px);
  grid-template-columns: repeat(3, calc(var(--button-width)));
}
footer {
  padding: 1.8rem 0;
}
footer .copyright {
  font-size: 0.9rem;
}
