.App {
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100vw;
}
header {
  height: var(--tap-size);
  padding: 0 calc(var(--gutter-size) / 4);
  position: absolute;
  /* absolute */
  left: 0;
  top: 0;
  /* end of absolute */
  width: 100%;
  z-index: 10;
}
main {
  background-color: #FFCBDE;
  padding-top: var(--tap-size);
  position: absolute;
  /* absolute */
  left: 0;
  top: 0;
  /* end of absolute */
  width: inherit;
}
h1 {
  line-height: 0;
}
h2, p {
  font-size: 1.25rem;
}
/* li {
  display: contents;
} */
button {
  border: 0;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  min-height: 32px;
  min-width: 32px;
  padding: 0;
}
a {
  color: var(--yousolo-color);
}
.wrapper {
  height: calc(100vh - var(--tap-size));
  margin: 0 auto;
  position: relative;
}
.logo-container {
  margin: inherit;
  max-width: fit-content;
  overflow: auto;
}
.idol-buttons-box {
  height: var(--idol-buttons-box-height);
  margin: inherit;
  max-width: 360px;
}
.lovelive-box {
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
  border-radius: 8px;
}
.idol-buttons-container {
  height: 100%;
  overflow-y: scroll;
}
.lovelive-button {
  background-color: var(--lovelive-color);
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  line-height: 1.25;
  transition: all .2s ease-in-out;
}
.lovelive-button:hover {
  background-color: var(--lovelive-color-hover);
  border-color: #FFFFFF44;
}
.lovelive-text {
  background-color: #FFFFFF;
  text-shadow: 0 0 4px #FFFFFF;
}
.lovelive-text:hover {
  background-color: #FFFFFF44;
}
.overlay {
  background-color: #00000080;
  height: 100vh;
  padding-top: var(--tap-size);
  position: absolute;
  /* absolute */
  left: 0;
  top: 0;
  /* end of absolute */
  width: 100vw;
  z-index: 9;
}
.overlay-window {
  background-color: #FFFFFF;
  height: calc(100vh - var(--tap-size));
  margin: 0 auto;
  max-width: 360px;
  padding: calc(var(--gutter-size) / 2);
}
.overlay-window > * {
  height: 100%;
  position: relative;
}
.close-overlay {
  display: flex;
  /* flex */
  align-items: center;
  flex-direction: row;
  justify-content: center;
  /* end of flex */
  height: var(--tap-size);
  position: absolute;
  /* absolute */
  right: 0;
  top: 0;
  /* end of absolute */
  width: var(--tap-size);
}

/* media queries */
@media screen and (min-width: 360px) {
  .idol-buttons-box {
    padding: calc(var(--gutter-size) / 2);
  }
}

/* supports */
@supports (display: grid) {
  @media screen and (min-width: 300px) {
    .idol-buttons {
      display: grid;
      /* grid */
      align-items: start;
      gap: calc(var(--gutter-size) / 2);
      grid-auto-flow: row;
      grid-auto-rows: calc(var(--button-image-size) + 68px);
      grid-template-columns: repeat(3, calc(var(--button-width)));
      justify-items: stretch;
      /* end of grid */
    }
  }
  @media screen and (min-width: 768px) {
    .wrapper {
      display: grid;
      /* grid */
      align-items: start;
      gap: calc(var(--gutter-size) / 2);
      grid-template-columns: 1fr 360px;
      grid-template-rows: var(--yousolo-logo-height) calc(100vh - var(--tap-size) - var(--yousolo-logo-height) - var(--gutter-size) / 2);
      justify-items: stretch;
      /* end of grid */
      max-width: calc(100vw - var(--gutter-size));
    }
    .logo-container {
      grid-column: 1 / 3;
    }
    .idol-buttons-box {
      height: 100%;
      margin: 0;
    }
  }
  @media screen and (min-width: 1347px) {
    .wrapper {
      max-width: 1314px;
    }
  }
}
