:root {
  /* color */
  --lovelive-color: #E4007F;
  --lovelive-color-hover: #E4007F44;
  --yousolo-color: #0085C0;

  /* size */
  --album-image-size: 128px;
  --button-image-size: 72px;
  --tap-size: 48px;
  --gutter-size: 32px;
  --video-height: 240px;
  --video-width: 360px;
  --yousolo-logo-height: 59px;
  --yousolo-logo-width: 204px;

  /* derivative variables */
  --album-width: calc(var(--album-image-size) + 16px);
  --button-width: calc(var(--button-image-size) + 16px);
  --idol-buttons-box-height: calc(100% - var(--yousolo-logo-height) - var(--video-height));
  --about-container-height: calc(100% - var(--gutter-size) - var(--tap-size));
  --songs-container-height: calc(100% - var(--gutter-size) - var(--button-image-size));
}
*, *::before, *::after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
html, body {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Century Gothic", "YuGothic", "Meiryo", "Helvetica Neue", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
